<h1>Hello There!</h1>
      <div class="ui blue ribbon label">Last Updated: November 1, 2016</div>
      <br><br>
      <img class="ui large centered bordered image" src="https://images.alphacoders.com/511/511052.jpg">
      <br>
      <p>Hey! My name is John but people call me Travolt. I'm a
        Computer Engineering student studying at the University
        of Puerto Rico at Mayaguez. I am currently working at
        <a href="http://www.uprm.edu/">A Research</a>                        as a front-end
       . Fluent in HTML5 CSS3 and JavaScript.
       Currently i'm working on my Java, Electronics and Data
       Structure Skills. I'm utilizing Angular2 with TypeScript in
       various projects and I've recently started experimenting
       with IoT using the Raspberry Pi.
       <br>
