<h1>My Research</h1>
<div class="ui blue ribbon label">October 2016 - Current</div>
<img class="ui centered bordered image" src="http://placehold.it/300x300">
<br>
<p>Currently working on a website for the University of Puerto Rico at Mayaguez with the purpose of displaying My Research. This website is using Angular2 with Node.js runtime and the design is being done using the Semantic UI framework. This website will include the creation of a Content Management System for professors and admins to use said site.</p>
<br>
<div class="ui active progress" data-percent="74" id="example1">
  <div class="bar">
    <div class="progress"></div>
  </div>
  <div class="label">Project Progress</div>
</div>
